.wrapper{
  margin-bottom: 15px;
}

.button{
  color: white;
  cursor:pointer;
  transition: 0.3s;
  &:not(:first-child){
    margin-left: 10px;
  }

  &--complete{
    background-color: dodgerblue;
  }

  &--incomplete{
    background-color: darkorange;
  }

  &--delete{
    background-color: red;
  }
}


